<!-- app/views/customers/alphabetized.html.erb -->

<h1>Customers Alphabetized</h1>
<nav class="navigation ">
  <%= link_to "All Customers", customers_path %>
  <%= link_to "Missing Email Customers", missing_email_customers_path %>
</nav>
<%= render @customers %>